body {
	background-color: #ddd;
}
.container {
	width: 800px;
	height: 800px;
	margin: 50px auto 0 auto;
	border: 10px solid black;
	border-color: #000;
	box-shadow: 0 0 100px rgba(0,0,0,0.9);
}
.cell {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	display: block;
	margin: 0;
	background-color: #5b3030;
	background: radial-gradient(#452323, #814c4c);
}
.row:nth-child(odd) .cell:nth-child(even),
.row:nth-child(even) .cell:nth-child(odd) {
	background: radial-gradient(#e6dfa0, #bbb367);
}
.checkers__black {
	position: absolute;
	background-image: url('../img/black.png');
	background-size: 80px;
	width: 80px;
	height: 80px;
	top: 10px;
	left: 10px;
}
.checkers__white {
	position: absolute;
	background-image: url('../img/white.png');
	background-size: 80px;
	width: 80px;
	height: 80px;
	top: 10px;
	left: 10px;
}
.shadow {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-shadow: 0px 0px 50px rgba(30,30,30,0.9);
}
/* .checkers {
	width: 80px;
	height: 80px;
	margin: 10px 10px;
	border-radius: 50%;
	background: radial-gradient(#392222, #0f0909);
	box-shadow: 0px 0px 50px rgba(30,30,30,0.9);
} */
/* .row:nth-child(odd) .cell:nth-child(even) .checkers,
.row:nth-child(even) .cell:nth-child(odd) .checkers{
	border-color: #fff;
	background: radial-gradient(#461d1d, #0081b5);
} */
/* .white {
	background: radial-gradient(#ada173, #e7dcb1);
} */
